In [158]:
import numpy as np
import pandas as pd
import matplotlib

In [159]:
data1 = pd.read_csv("edu.csv")

Read first data set that showcases education attainment for females and males in countries across the developing world. Different age groups and school grades are included. In addition to education attainment of urban, rural population and welfare rankings.

In [46]:
print(data1)

                country  year      stype        ccode      datasrc  ...  gini  \
0           Afghanistan  2007       i2d2  afg_2007_i2         i2d2  ...   NaN
1           Afghanistan  2010      MICS4       afg_m4    MICS 2010  ...   NaN
2           Afghanistan  2015        DHS         afg7     DHS 2015  ...   NaN
3               Albania  2000      MICS2       alb_m2    MICS 2000  ...   NaN
4               Albania  2002  IHS-WDR07       alb02w    IHS-WDR07  ...  32.0
5               Albania  2005      MICS3       alb_m3    MICS 2005  ...  31.0
6                Angola  1999       i2d2  ago_1999_i2         i2d2  ...   NaN
7                Angola  2001      MICS2       ago_m2    MICS 2001  ...   NaN
8                Angola  2008       i2d2  ago_2008_i2         i2d2  ...   NaN
9                Angola  2015        DHS         ago7  DHS 2015-16  ...   NaN
10              Armenia  2000        DHS         arm4     DHS 2000  ...   NaN
11              Armenia  2005        DHS         arm5     DHS 2005  ...  36.0
12              Armenia  2010        DHS         arm6     DHS 2010  ...  30.0
13              Armenia  2015        DHS         arm7  DHS 2015-16  ...  32.0
14           Azerbaijan  2000      MICS2       azb_m2    MICS 2000  ...   NaN
15           Azerbaijan  2006        DHS         azb5     DHS 2006  ...   NaN
16           Bangladesh  1993        DHS         bgd3  DHS 1993-94  ...   NaN
17           Bangladesh  1996        DHS        bgd3a  DHS 1996-97  ...   NaN
18           Bangladesh  1999        DHS         bgd4     DHS 1999  ...   NaN
19           Bangladesh  2000  IHS-WDR07       bgd00w    IHS-WDR07  ...  33.0
20           Bangladesh  2004        DHS        bgd4i     DHS 2004  ...   NaN
21           Bangladesh  2005       i2d2  bgd_2005_i2         i2d2  ...  33.0
22           Bangladesh  2006      MICS3       bgd_m3    MICS 2006  ...   NaN
23           Bangladesh  2007        DHS         bgd5     DHS 2007  ...   NaN
24           Bangladesh  2011        DHS         bgd6     DHS 2011  ...   NaN
25           Bangladesh  2012      MICS5       bgd_m5    MICS 2012  ...   NaN
26           Bangladesh  2014        DHS         bgd7     DHS 2014  ...   NaN
27              Belarus  2005      MICS3       blr_m3    MICS 2005  ...  28.0
28               Belize  2011      MICS4       blz_m4    MICS 2011  ...   NaN
29               Belize  2015      MICS5       blz_m5    MICS 2015  ...   NaN
..                  ...   ...        ...          ...          ...  ...   ...
538             Vietnam  2001  IHS-WDR07       vnm01w    IHS-WDR07  ...   NaN
539             Vietnam  2002        DHS         vnm4     DHS 2002  ...  37.0
540             Vietnam  2002       i2d2  vnm_2002_i2         i2d2  ...  38.0
541             Vietnam  2004       i2d2  vnm_2004_i2         i2d2  ...  37.0
542             Vietnam  2006      MICS3       vnm_m3    MICS 2006  ...  36.0
543             Vietnam  2006       i2d2  vnm_2006_i2         i2d2  ...  36.0
544             Vietnam  2008       i2d2  vnm_2008_i2         i2d2  ...  36.0
545             Vietnam  2010      MICS4       vnm_m4    MICS 2010  ...  39.0
546             Vietnam  2010       i2d2  vnm_2010_i2         i2d2  ...  39.0
547             Vietnam  2013      MICS5       vnm_m5    MICS 2013  ...   NaN
548  West Bank and Gaza  2009       i2d2  wbg_2009_i2         i2d2  ...  34.0
549  West Bank and Gaza  2010      MICS4       wbg_m4    MICS 2010  ...  35.0
550  West Bank and Gaza  2014      MICS5       wbg_m5    MICS 2014  ...   NaN
551               Yemen  2006      MICS3       yem_m3    MICS 2006  ...   NaN
552         Yemen, Rep.  2005       i2d2  yem_2005_i2         i2d2  ...  36.0
553              Zambia  1992        DHS         zmb2     DHS 1992  ...   NaN
554              Zambia  1996        DHS         zmb3  DHS 1996-97  ...  48.0
555              Zambia  1998  IHS-WDR07       zmb98w    IHS-WDR07  ...  49.0
556              Zambia  1999      MICS2       zmb_m2    MICS 1999  ...   NaN
557              Zambia  2001        DHS         zmb4  DHS 2001-02  ...   NaN
558              Zambia  2002       i2d2  zmb_2002_i2         i2d2  ...   NaN
559              Zambia  2007        DHS         zmb5     DHS 2007  ...   NaN
560              Zambia  2013        DHS         zmb6  DHS 2013-14  ...   NaN
561            Zimbabwe  1994        DHS         zwe3     DHS 1994  ...   NaN
562            Zimbabwe  1999        DHS         zwe4     DHS 1999  ...   NaN
563            Zimbabwe  2005        DHS         zwe5  DHS 2005-06  ...   NaN
564            Zimbabwe  2009      MICS3       zwe_m3    MICS 2009  ...   NaN
565            Zimbabwe  2010        DHS         zwe6  DHS 2010-11  ...   NaN
566            Zimbabwe  2014      MICS5       zwe_m5    MICS 2014  ...   NaN
567            Zimbabwe  2015        DHS         zwe7     DHS 2015  ...   NaN

         pop014       popt  region               ccode_i2d2
0           NaN   26349243     sar   afg_2007_i2d2_nrva.dta
1    13767370.0   28803167     sar                      NaN
2    15023530.0   33736494     sar                      NaN
3      934839.0    3089027     eca                      NaN
4      880999.0    3051010     eca                      NaN
5      797072.0    3011487     eca                      NaN
6     6436881.0   13510616     ssa    ago_1999_i2d2_idr.dta
7     8058318.0   16983266     ssa                      NaN
8     8498537.0   18314441     ssa   ago_2008_i2d2_ibep.dta
9    13116245.0   27859305     ssa                      NaN
10     792295.0    3069588     eca                      NaN
11     639824.0    2981259     eca                      NaN
12     559946.0    2877311     eca                      NaN
13     578856.0    2916950     eca                      NaN
14    2506956.0    8048600     eca                      NaN
15    2157392.0    8484550     eca                      NaN
16   46626603.0  113695139     sar                      NaN
17   47760527.0  121269645     sar                      NaN
18   48595627.0  129029691     sar                      NaN
19   48764759.0  131581243     sar                      NaN
20   49439806.0  141307489     sar                      NaN
21          NaN  143135180     sar   bgd_2005_i2d2_hies.dta
22   49420297.0  145368004     sar                      NaN
23   49342211.0  147139191     sar                      NaN
24   48552617.0  153911916     sar                      NaN
25   48284706.0  155727053     sar                      NaN
26   47751785.0  159405279     sar                      NaN
27    1507387.0    9663915     eca                      NaN
28     115172.0     329192     lac                      NaN
29     116604.0     359288     lac                      NaN
..          ...        ...     ...                      ...
538  24822166.0   81139919     eap                      NaN
539  24342004.0   81956496     eap                      NaN
540         NaN   79538700     eap  vnm_2002_i2d2_vhlss.dta
541         NaN   81437700     eap  vnm_2004_i2d2_vhlss.dta
542  22498740.0   85094617     eap                      NaN
543         NaN   83313000     eap  vnm_2006_i2d2_vhlss.dta
544         NaN   85122300     eap  vnm_2008_i2d2_vhlss.dta
545  20948823.0   88472512     eap                      NaN
546         NaN   86932500     eap  vnm_2010_i2d2_vhlss.dta
547  21166694.0   91497725     eap                      NaN
548         NaN    3702218     mna    wbg_2009_i2d2_ecs.dta
549   1615889.0    3811102     mna                      NaN
550   1738959.0    4294682     mna                      NaN
551   9542771.0   21160534     mna                      NaN
552         NaN   20139661     mna    yem_2005_i2d2_hbs.dta
553   3966191.0    8452275     ssa                      NaN
554   4378796.0    9394304     ssa                      NaN
555   4632219.0    9950224     ssa                      NaN
556   4761736.0   10239714     ssa                      NaN
557   5045882.0   10824125     ssa                      NaN
558   4868324.0   10625423     ssa   zmb_2002_i2d2_lcms.dta
559   5984329.0   12725974     ssa                      NaN
560   6971577.0   15153210     ssa                      NaN
561   5021107.0   11116948     ssa                      NaN
562   5210969.0   12064537     ssa                      NaN
563   5413043.0   12940032     ssa                      NaN
564   5731077.0   13810599     ssa                      NaN
565   5849140.0   14086317     ssa                      NaN
566   6396521.0   15411675     ssa                      NaN
567   6542997.0   15777451     ssa                      NaN

[568 rows x 2587 columns]

As I'm interested in studying female education attainment in the developing world throughout the years from 1990 to 2018 I selected only the relevant columns for the study and included only data that is available starting 1990.

In [160]:
data1 = data1[['country', 'year', 'aFemale_1', 'aFemale_2', 'aFemale_3', 'aFemale_4', 'aFemale_5', 'aFemale_6', 'aFemale_7', 'aFemale_8', 'aFemale_9', 'a2Female_1', 'a2Female_2', 'a2Female_3', 'a2Female_4', 'a2Female_5', 'a2Female_6', 'a2Female_7', 'a2Female_8', 'a2Female_9' ]]

In [135]:
filter = data1['year']>=1990

In [136]:
data1[filter]

,year,aFemale_1,aFemale_2,aFemale_3,aFemale_4,...,a2Female_5,a2Female_6,a2Female_7,a2Female_8,a2Female_9
country,,,,,,,,,,,
Afghanistan,2007,0.337,0,0,0,...,0,0,0,0,0
Afghanistan,2010,0.369,0,0,0,...,0,0,0,0,0
Afghanistan,2015,0.513,1,0,0,...,0,0,0,0,0
Albania,2000,0.998,1,1,1,...,1,1,1,1,1
Albania,2002,0.984,1,1,1,...,1,1,1,1,0
Albania,2005,0.996,1,1,1,...,1,1,1,1,0
Angola,1999,0.845,1,1,1,...,0,0,0,0,0
Angola,2001,0.725,1,1,0,...,0,0,0,0,0
Angola,2008,0.853,1,1,1,...,0,0,0,0,0
Angola,2015,0.887,1,1,1,...,1,1,0,0,0
Armenia,2000,1.000,1,1,1,...,1,1,1,1,1
Armenia,2005,0.997,1,1,1,...,1,1,1,1,1
Armenia,2010,0.998,1,1,1,...,1,1,1,1,1
Armenia,2015,0.999,1,1,1,...,1,1,1,1,1
Azerbaijan,2000,0.989,1,1,1,...,1,1,1,1,1
Azerbaijan,2006,0.980,1,1,1,...,1,1,1,1,1
Bangladesh,1993,0.621,1,1,1,...,0,0,0,0,0
Bangladesh,1996,0.689,1,1,1,...,0,0,0,0,0
Bangladesh,1999,0.787,1,1,1,...,0,0,0,0,0
Bangladesh,2000,0.728,1,1,1,...,0,0,0,0,0
Bangladesh,2004,0.870,1,1,1,...,0,0,0,0,0
Bangladesh,2005,0.824,1,1,1,...,1,0,0,0,0
Bangladesh,2006,0.901,1,1,1,...,1,0,0,0,0
Bangladesh,2007,0.912,1,1,1,...,1,0,0,0,0
Bangladesh,2011,0.939,1,1,1,...,1,1,0,0,0
Bangladesh,2012,0.949,1,1,1,...,1,1,1,0,0
Bangladesh,2014,0.962,1,1,1,...,1,1,1,0,0
Belarus,2005,0.998,1,1,1,...,1,1,1,1,1
Belize,2011,0.983,1,1,1,...,1,1,1,1,1
Belize,2015,0.990,1,1,1,...,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,2001,0.971,1,1,1,...,1,1,1,1,0
Vietnam,2002,0.970,1,1,1,...,1,1,1,1,0
Vietnam,2002,0.971,1,1,1,...,1,1,1,1,0
Vietnam,2004,0.973,1,1,1,...,1,1,1,1,1
Vietnam,2006,0.970,1,1,1,...,1,1,1,0,0
Vietnam,2006,0.974,1,1,1,...,1,1,1,1,1
Vietnam,2008,0.985,1,1,1,...,1,1,1,1,1
Vietnam,2010,0.977,1,1,1,...,1,1,1,1,1
Vietnam,2010,0.981,1,1,1,...,1,1,1,1,1
Vietnam,2013,0.975,1,1,1,...,1,1,1,1,1
West Bank and Gaza,2009,0.990,1,1,1,...,1,1,1,1,1
West Bank and Gaza,2010,0.993,1,1,1,...,1,1,1,1,1
West Bank and Gaza,2014,0.994,1,1,1,...,1,1,1,1,1
Yemen,2006,0.682,1,1,1,...,0,0,0,0,0
"Yemen, Rep.",2005,0.571,1,1,1,...,0,0,0,0,0
Zambia,1992,0.889,1,1,1,...,1,1,1,0,0
Zambia,1996,0.903,1,1,1,...,1,1,1,0,0
Zambia,1998,0.902,1,1,1,...,1,1,1,0,0
Zambia,1999,0.881,1,1,1,...,1,1,1,0,0
Zambia,2001,0.902,1,1,1,...,1,1,1,0,0
Zambia,2002,0.902,1,1,1,...,1,1,1,0,0
Zambia,2007,0.953,1,1,1,...,1,1,1,0,0
Zambia,2013,0.973,1,1,1,...,1,1,1,1,0
Zimbabwe,1994,0.979,1,1,1,...,1,1,1,1,1
Zimbabwe,1999,0.978,1,1,1,...,1,1,1,1,1
Zimbabwe,2005,0.992,1,1,1,...,1,1,1,1,1
Zimbabwe,2009,0.995,1,1,1,...,1,1,1,1,1
Zimbabwe,2010,0.988,1,1,1,...,1,1,1,1,1
Zimbabwe,2014,0.997,1,1,1,...,1,1,1,1,1
Zimbabwe,2015,0.995,1,1,1,...,1,1,1,1,1

Drop rows which has missing values in each and every column

In [161]:
data1 = data1.dropna(how='all')

In [162]:
print(data1)

                country  year  aFemale_1  aFemale_2  aFemale_3  ...  \
0           Afghanistan  2007      0.337          0          0  ...
1           Afghanistan  2010      0.369          0          0  ...
2           Afghanistan  2015      0.513          1          0  ...
3               Albania  2000      0.998          1          1  ...
4               Albania  2002      0.984          1          1  ...
5               Albania  2005      0.996          1          1  ...
6                Angola  1999      0.845          1          1  ...
7                Angola  2001      0.725          1          1  ...
8                Angola  2008      0.853          1          1  ...
9                Angola  2015      0.887          1          1  ...
10              Armenia  2000      1.000          1          1  ...
11              Armenia  2005      0.997          1          1  ...
12              Armenia  2010      0.998          1          1  ...
13              Armenia  2015      0.999          1          1  ...
14           Azerbaijan  2000      0.989          1          1  ...
15           Azerbaijan  2006      0.980          1          1  ...
16           Bangladesh  1993      0.621          1          1  ...
17           Bangladesh  1996      0.689          1          1  ...
18           Bangladesh  1999      0.787          1          1  ...
19           Bangladesh  2000      0.728          1          1  ...
20           Bangladesh  2004      0.870          1          1  ...
21           Bangladesh  2005      0.824          1          1  ...
22           Bangladesh  2006      0.901          1          1  ...
23           Bangladesh  2007      0.912          1          1  ...
24           Bangladesh  2011      0.939          1          1  ...
25           Bangladesh  2012      0.949          1          1  ...
26           Bangladesh  2014      0.962          1          1  ...
27              Belarus  2005      0.998          1          1  ...
28               Belize  2011      0.983          1          1  ...
29               Belize  2015      0.990          1          1  ...
..                  ...   ...        ...        ...        ...  ...
538             Vietnam  2001      0.971          1          1  ...
539             Vietnam  2002      0.970          1          1  ...
540             Vietnam  2002      0.971          1          1  ...
541             Vietnam  2004      0.973          1          1  ...
542             Vietnam  2006      0.970          1          1  ...
543             Vietnam  2006      0.974          1          1  ...
544             Vietnam  2008      0.985          1          1  ...
545             Vietnam  2010      0.977          1          1  ...
546             Vietnam  2010      0.981          1          1  ...
547             Vietnam  2013      0.975          1          1  ...
548  West Bank and Gaza  2009      0.990          1          1  ...
549  West Bank and Gaza  2010      0.993          1          1  ...
550  West Bank and Gaza  2014      0.994          1          1  ...
551               Yemen  2006      0.682          1          1  ...
552         Yemen, Rep.  2005      0.571          1          1  ...
553              Zambia  1992      0.889          1          1  ...
554              Zambia  1996      0.903          1          1  ...
555              Zambia  1998      0.902          1          1  ...
556              Zambia  1999      0.881          1          1  ...
557              Zambia  2001      0.902          1          1  ...
558              Zambia  2002      0.902          1          1  ...
559              Zambia  2007      0.953          1          1  ...
560              Zambia  2013      0.973          1          1  ...
561            Zimbabwe  1994      0.979          1          1  ...
562            Zimbabwe  1999      0.978          1          1  ...
563            Zimbabwe  2005      0.992          1          1  ...
564            Zimbabwe  2009      0.995          1          1  ...
565            Zimbabwe  2010      0.988          1          1  ...
566            Zimbabwe  2014      0.997          1          1  ...
567            Zimbabwe  2015      0.995          1          1  ...

     a2Female_5  a2Female_6  a2Female_7  a2Female_8  a2Female_9
0             0           0           0           0           0
1             0           0           0           0           0
2             0           0           0           0           0
3             1           1           1           1           1
4             1           1           1           1           0
5             1           1           1           1           0
6             0           0           0           0           0
7             0           0           0           0           0
8             0           0           0           0           0
9             1           1           0           0           0
10            1           1           1           1           1
11            1           1           1           1           1
12            1           1           1           1           1
13            1           1           1           1           1
14            1           1           1           1           1
15            1           1           1           1           1
16            0           0           0           0           0
17            0           0           0           0           0
18            0           0           0           0           0
19            0           0           0           0           0
20            0           0           0           0           0
21            1           0           0           0           0
22            1           0           0           0           0
23            1           0           0           0           0
24            1           1           0           0           0
25            1           1           1           0           0
26            1           1           1           0           0
27            1           1           1           1           1
28            1           1           1           1           1
29            1           1           1           1           1
..          ...         ...         ...         ...         ...
538           1           1           1           1           0
539           1           1           1           1           0
540           1           1           1           1           0
541           1           1           1           1           1
542           1           1           1           0           0
543           1           1           1           1           1
544           1           1           1           1           1
545           1           1           1           1           1
546           1           1           1           1           1
547           1           1           1           1           1
548           1           1           1           1           1
549           1           1           1           1           1
550           1           1           1           1           1
551           0           0           0           0           0
552           0           0           0           0           0
553           1           1           1           0           0
554           1           1           1           0           0
555           1           1           1           0           0
556           1           1           1           0           0
557           1           1           1           0           0
558           1           1           1           0           0
559           1           1           1           0           0
560           1           1           1           1           0
561           1           1           1           1           1
562           1           1           1           1           1
563           1           1           1           1           1
564           1           1           1           1           1
565           1           1           1           1           1
566           1           1           1           1           1
567           1           1           1           1           1

[568 rows x 20 columns]

In [97]:
data1.set_index('country')

,year,aFemale_1,aFemale_2,aFemale_3,aFemale_4,...,a2Female_5,a2Female_6,a2Female_7,a2Female_8,a2Female_9
country,,,,,,,,,,,
Afghanistan,2007,0.337,0,0,0,...,0,0,0,0,0
Afghanistan,2010,0.369,0,0,0,...,0,0,0,0,0
Afghanistan,2015,0.513,1,0,0,...,0,0,0,0,0
Albania,2000,0.998,1,1,1,...,1,1,1,1,1
Albania,2002,0.984,1,1,1,...,1,1,1,1,0
Albania,2005,0.996,1,1,1,...,1,1,1,1,0
Angola,1999,0.845,1,1,1,...,0,0,0,0,0
Angola,2001,0.725,1,1,0,...,0,0,0,0,0
Angola,2008,0.853,1,1,1,...,0,0,0,0,0
Angola,2015,0.887,1,1,1,...,1,1,0,0,0
Armenia,2000,1.000,1,1,1,...,1,1,1,1,1
Armenia,2005,0.997,1,1,1,...,1,1,1,1,1
Armenia,2010,0.998,1,1,1,...,1,1,1,1,1
Armenia,2015,0.999,1,1,1,...,1,1,1,1,1
Azerbaijan,2000,0.989,1,1,1,...,1,1,1,1,1
Azerbaijan,2006,0.980,1,1,1,...,1,1,1,1,1
Bangladesh,1993,0.621,1,1,1,...,0,0,0,0,0
Bangladesh,1996,0.689,1,1,1,...,0,0,0,0,0
Bangladesh,1999,0.787,1,1,1,...,0,0,0,0,0
Bangladesh,2000,0.728,1,1,1,...,0,0,0,0,0
Bangladesh,2004,0.870,1,1,1,...,0,0,0,0,0
Bangladesh,2005,0.824,1,1,1,...,1,0,0,0,0
Bangladesh,2006,0.901,1,1,1,...,1,0,0,0,0
Bangladesh,2007,0.912,1,1,1,...,1,0,0,0,0
Bangladesh,2011,0.939,1,1,1,...,1,1,0,0,0
Bangladesh,2012,0.949,1,1,1,...,1,1,1,0,0
Bangladesh,2014,0.962,1,1,1,...,1,1,1,0,0
Belarus,2005,0.998,1,1,1,...,1,1,1,1,1
Belize,2011,0.983,1,1,1,...,1,1,1,1,1
Belize,2015,0.990,1,1,1,...,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,2001,0.971,1,1,1,...,1,1,1,1,0
Vietnam,2002,0.970,1,1,1,...,1,1,1,1,0
Vietnam,2002,0.971,1,1,1,...,1,1,1,1,0
Vietnam,2004,0.973,1,1,1,...,1,1,1,1,1
Vietnam,2006,0.970,1,1,1,...,1,1,1,0,0
Vietnam,2006,0.974,1,1,1,...,1,1,1,1,1
Vietnam,2008,0.985,1,1,1,...,1,1,1,1,1
Vietnam,2010,0.977,1,1,1,...,1,1,1,1,1
Vietnam,2010,0.981,1,1,1,...,1,1,1,1,1
Vietnam,2013,0.975,1,1,1,...,1,1,1,1,1
West Bank and Gaza,2009,0.990,1,1,1,...,1,1,1,1,1
West Bank and Gaza,2010,0.993,1,1,1,...,1,1,1,1,1
West Bank and Gaza,2014,0.994,1,1,1,...,1,1,1,1,1
Yemen,2006,0.682,1,1,1,...,0,0,0,0,0
"Yemen, Rep.",2005,0.571,1,1,1,...,0,0,0,0,0
Zambia,1992,0.889,1,1,1,...,1,1,1,0,0
Zambia,1996,0.903,1,1,1,...,1,1,1,0,0
Zambia,1998,0.902,1,1,1,...,1,1,1,0,0
Zambia,1999,0.881,1,1,1,...,1,1,1,0,0
Zambia,2001,0.902,1,1,1,...,1,1,1,0,0
Zambia,2002,0.902,1,1,1,...,1,1,1,0,0
Zambia,2007,0.953,1,1,1,...,1,1,1,0,0
Zambia,2013,0.973,1,1,1,...,1,1,1,1,0
Zimbabwe,1994,0.979,1,1,1,...,1,1,1,1,1
Zimbabwe,1999,0.978,1,1,1,...,1,1,1,1,1
Zimbabwe,2005,0.992,1,1,1,...,1,1,1,1,1
Zimbabwe,2009,0.995,1,1,1,...,1,1,1,1,1
Zimbabwe,2010,0.988,1,1,1,...,1,1,1,1,1
Zimbabwe,2014,0.997,1,1,1,...,1,1,1,1,1
Zimbabwe,2015,0.995,1,1,1,...,1,1,1,1,1

In [121]:
data2 = data2.dropna(how='all')

In [128]:
data1.describe()

,year,aFemale_1,aFemale_2,aFemale_3,aFemale_4,...,a2Female_5,a2Female_6,a2Female_7,a2Female_8,a2Female_9
count,568.000000,568.000000,568.000000,568.000000,568.000000,...,568.00000,568.000000,568.000000,568.000000,568.000000
mean,2003.690141,0.847225,0.908451,0.887324,0.853873,...,0.71831,0.642606,0.547535,0.457746,0.389085
std,6.992244,0.197087,0.288643,0.316475,0.353545,...,0.45022,0.479655,0.498174,0.498651,0.487972
min,1981.000000,0.166000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000
25%,1999.000000,0.794750,1.000000,1.000000,1.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000
50%,2004.000000,0.945000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,0.000000,0.000000
75%,2010.000000,0.985000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000
max,2017.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000

In [134]:
data1.year.value_counts()

2000    59
2005    43
2006    38
2010    31
2014    25
2011    25
1998    24
2012    24
2001    23
1996    21
2007    20
2003    19
2002    18
2009    18
1995    17
2008    16
2015    16
2004    15
2013    15
1999    14
1997    14
1992    14
1994    13
1993    11
2016    10
1991    10
1990     8
1989     4
1985     1
2017     1
1981     1
Name: year, dtype: int64

In [143]:
l = data1.transpose()

In [163]:
srt = data1.sort_values(by ='year', ascending=False)

In [154]:
data1 = data1[data1.year != '1989']

In [170]:
srt = data1.sort_values(by ='year', ascending=False)

In [171]:
print(srt)

               country  year  aFemale_1  aFemale_2  aFemale_3  ...  \
423        Philipinnes  2017      0.995          1          1  ...
524             Uganda  2016      0.968          1          1  ...
75             Burundi  2016      0.927          1          1  ...
411           Paraguay  2016      0.993          1          1  ...
389            Nigeria  2016      0.828          1          1  ...
212             Guinea  2016      0.627          1          1  ...
365              Nepal  2016      0.943          1          1  ...
185           Ethiopia  2016      0.857          1          1  ...
141      Cote d'Ivoire  2016      0.673          1          1  ...
228              Haiti  2016      0.979          1          1  ...
505        Timor Leste  2016      0.945          1          1  ...
321         Mauritania  2015      0.838          1          1  ...
29              Belize  2015      0.990          1          1  ...
317               Mali  2015      0.541          1          1  ...
567           Zimbabwe  2015      0.995          1          1  ...
328             Mexico  2015      0.985          1          1  ...
121           Colombia  2015      0.992          1          1  ...
499           Thailand  2015      0.986          1          1  ...
517       Turkmenistan  2015      0.998          1          1  ...
489           Tanzania  2015      0.937          1          1  ...
351            Myanmar  2015      0.930          1          1  ...
307             Malawi  2015      0.971          1          1  ...
13             Armenia  2015      0.999          1          1  ...
2          Afghanistan  2015      0.513          1          0  ...
239              India  2015      0.933          1          1  ...
9               Angola  2015      0.887          1          1  ...
266         Kazakhstan  2015      0.999          1          1  ...
277        Kyrgyz Rep.  2014      0.996          1          1  ...
200              Ghana  2014      0.953          1          1  ...
215      Guinea Bissau  2014      0.840          1          1  ...
..                 ...   ...        ...        ...        ...  ...
553             Zambia  1992      0.889          1          1  ...
167              Egypt  1992      0.762          1          1  ...
535            Vietnam  1992      0.931          1          1  ...
352            Namibia  1992      0.959          1          1  ...
429             Rwanda  1992      0.782          1          1  ...
443            Senegal  1992      0.382          0          0  ...
373              Niger  1992      0.181          0          0  ...
534            Vietnam  1992      0.957          1          1  ...
63        Burkina Faso  1992      0.250          0          0  ...
236              India  1992      0.589          1          1  ...
216             Guyana  1992      0.994          1          1  ...
341            Morocco  1992      0.528          1          0  ...
340            Morocco  1991      0.518          1          1  ...
397             Panama  1991      0.988          1          1  ...
412               Peru  1991      0.984          1          1  ...
89            Cameroon  1991      0.728          1          1  ...
153     Dominican Rep.  1991      0.968          1          1  ...
229           Honduras  1991      0.926          1          1  ...
60   Brazil, Northeast  1991      0.926          1          1  ...
240          Indonesia  1991      0.967          1          1  ...
480           Tanzania  1991      0.861          1          1  ...
174        El Salvador  1991      0.885          1          1  ...
490           Thailand  1990      0.985          1          1  ...
104              Chile  1990      0.995          1          1  ...
252            Jamaica  1990      0.999          1          1  ...
111           Colombia  1990      0.977          1          1  ...
390           Pakistan  1990      0.435          0          0  ...
256             Jordan  1990      0.978          1          1  ...
52              Brazil  1990      0.938          1          1  ...
406           Paraguay  1990      0.989          1          1  ...

     a2Female_5  a2Female_6  a2Female_7  a2Female_8  a2Female_9
423           1           1           1           1           1
524           1           1           1           0           0
75            0           0           0           0           0
411           1           1           1           1           1
389           1           1           1           1           1
212           0           0           0           0           0
365           1           1           1           1           0
185           0           0           0           0           0
141           0           0           0           0           0
228           1           1           1           1           1
505           1           1           1           1           1
321           1           0           0           0           0
29            1           1           1           1           1
317           0           0           0           0           0
567           1           1           1           1           1
328           1           1           1           1           1
121           1           1           1           1           1
499           1           1           1           1           1
517           1           1           1           1           1
489           1           1           1           0           0
351           1           1           0           0           0
307           1           1           1           0           0
13            1           1           1           1           1
2             0           0           0           0           0
239           1           1           1           1           1
9             1           1           0           0           0
266           1           1           1           1           1
277           1           1           1           1           1
200           1           1           1           1           1
215           0           0           0           0           0
..          ...         ...         ...         ...         ...
553           1           1           1           0           0
167           1           0           0           0           0
535           1           1           1           1           0
352           1           1           1           0           0
429           0           0           0           0           0
443           0           0           0           0           0
373           0           0           0           0           0
534           1           1           1           1           0
63            0           0           0           0           0
236           0           0           0           0           0
216           1           1           1           1           1
341           0           0           0           0           0
340           0           0           0           0           0
397           1           1           1           1           1
412           1           1           1           1           1
89            1           0           0           0           0
153           1           1           1           1           1
229           1           1           0           0           0
60            0           0           0           0           0
240           1           1           0           0           0
480           1           1           1           0           0
174           1           1           0           0           0
490           1           1           0           0           0
104           1           1           1           1           1
252           1           1           1           1           1
111           1           1           1           1           0
390           0           0           0           0           0
256           1           1           1           1           1
52            1           1           1           0           0
406           1           1           1           1           1

[562 rows x 20 columns]

In [167]:
data1 = data1.drop([530, 127, 322, 108, 51, 50])

In [172]:
print(srt)

               country  year  aFemale_1  aFemale_2  aFemale_3  ...  \
423        Philipinnes  2017      0.995          1          1  ...
524             Uganda  2016      0.968          1          1  ...
75             Burundi  2016      0.927          1          1  ...
411           Paraguay  2016      0.993          1          1  ...
389            Nigeria  2016      0.828          1          1  ...
212             Guinea  2016      0.627          1          1  ...
365              Nepal  2016      0.943          1          1  ...
185           Ethiopia  2016      0.857          1          1  ...
141      Cote d'Ivoire  2016      0.673          1          1  ...
228              Haiti  2016      0.979          1          1  ...
505        Timor Leste  2016      0.945          1          1  ...
321         Mauritania  2015      0.838          1          1  ...
29              Belize  2015      0.990          1          1  ...
317               Mali  2015      0.541          1          1  ...
567           Zimbabwe  2015      0.995          1          1  ...
328             Mexico  2015      0.985          1          1  ...
121           Colombia  2015      0.992          1          1  ...
499           Thailand  2015      0.986          1          1  ...
517       Turkmenistan  2015      0.998          1          1  ...
489           Tanzania  2015      0.937          1          1  ...
351            Myanmar  2015      0.930          1          1  ...
307             Malawi  2015      0.971          1          1  ...
13             Armenia  2015      0.999          1          1  ...
2          Afghanistan  2015      0.513          1          0  ...
239              India  2015      0.933          1          1  ...
9               Angola  2015      0.887          1          1  ...
266         Kazakhstan  2015      0.999          1          1  ...
277        Kyrgyz Rep.  2014      0.996          1          1  ...
200              Ghana  2014      0.953          1          1  ...
215      Guinea Bissau  2014      0.840          1          1  ...
..                 ...   ...        ...        ...        ...  ...
553             Zambia  1992      0.889          1          1  ...
167              Egypt  1992      0.762          1          1  ...
535            Vietnam  1992      0.931          1          1  ...
352            Namibia  1992      0.959          1          1  ...
429             Rwanda  1992      0.782          1          1  ...
443            Senegal  1992      0.382          0          0  ...
373              Niger  1992      0.181          0          0  ...
534            Vietnam  1992      0.957          1          1  ...
63        Burkina Faso  1992      0.250          0          0  ...
236              India  1992      0.589          1          1  ...
216             Guyana  1992      0.994          1          1  ...
341            Morocco  1992      0.528          1          0  ...
340            Morocco  1991      0.518          1          1  ...
397             Panama  1991      0.988          1          1  ...
412               Peru  1991      0.984          1          1  ...
89            Cameroon  1991      0.728          1          1  ...
153     Dominican Rep.  1991      0.968          1          1  ...
229           Honduras  1991      0.926          1          1  ...
60   Brazil, Northeast  1991      0.926          1          1  ...
240          Indonesia  1991      0.967          1          1  ...
480           Tanzania  1991      0.861          1          1  ...
174        El Salvador  1991      0.885          1          1  ...
490           Thailand  1990      0.985          1          1  ...
104              Chile  1990      0.995          1          1  ...
252            Jamaica  1990      0.999          1          1  ...
111           Colombia  1990      0.977          1          1  ...
390           Pakistan  1990      0.435          0          0  ...
256             Jordan  1990      0.978          1          1  ...
52              Brazil  1990      0.938          1          1  ...
406           Paraguay  1990      0.989          1          1  ...

     a2Female_5  a2Female_6  a2Female_7  a2Female_8  a2Female_9
423           1           1           1           1           1
524           1           1           1           0           0
75            0           0           0           0           0
411           1           1           1           1           1
389           1           1           1           1           1
212           0           0           0           0           0
365           1           1           1           1           0
185           0           0           0           0           0
141           0           0           0           0           0
228           1           1           1           1           1
505           1           1           1           1           1
321           1           0           0           0           0
29            1           1           1           1           1
317           0           0           0           0           0
567           1           1           1           1           1
328           1           1           1           1           1
121           1           1           1           1           1
499           1           1           1           1           1
517           1           1           1           1           1
489           1           1           1           0           0
351           1           1           0           0           0
307           1           1           1           0           0
13            1           1           1           1           1
2             0           0           0           0           0
239           1           1           1           1           1
9             1           1           0           0           0
266           1           1           1           1           1
277           1           1           1           1           1
200           1           1           1           1           1
215           0           0           0           0           0
..          ...         ...         ...         ...         ...
553           1           1           1           0           0
167           1           0           0           0           0
535           1           1           1           1           0
352           1           1           1           0           0
429           0           0           0           0           0
443           0           0           0           0           0
373           0           0           0           0           0
534           1           1           1           1           0
63            0           0           0           0           0
236           0           0           0           0           0
216           1           1           1           1           1
341           0           0           0           0           0
340           0           0           0           0           0
397           1           1           1           1           1
412           1           1           1           1           1
89            1           0           0           0           0
153           1           1           1           1           1
229           1           1           0           0           0
60            0           0           0           0           0
240           1           1           0           0           0
480           1           1           1           0           0
174           1           1           0           0           0
490           1           1           0           0           0
104           1           1           1           1           1
252           1           1           1           1           1
111           1           1           1           1           0
390           0           0           0           0           0
256           1           1           1           1           1
52            1           1           1           0           0
406           1           1           1           1           1

[562 rows x 20 columns]

In [180]:
data1.set_index('country')

,year,aFemale_1,aFemale_2,aFemale_3,aFemale_4,...,a2Female_5,a2Female_6,a2Female_7,a2Female_8,a2Female_9
country,,,,,,,,,,,
Afghanistan,2007,0.337,0,0,0,...,0,0,0,0,0
Afghanistan,2010,0.369,0,0,0,...,0,0,0,0,0
Afghanistan,2015,0.513,1,0,0,...,0,0,0,0,0
Albania,2000,0.998,1,1,1,...,1,1,1,1,1
Albania,2002,0.984,1,1,1,...,1,1,1,1,0
Albania,2005,0.996,1,1,1,...,1,1,1,1,0
Angola,1999,0.845,1,1,1,...,0,0,0,0,0
Angola,2001,0.725,1,1,0,...,0,0,0,0,0
Angola,2008,0.853,1,1,1,...,0,0,0,0,0
Angola,2015,0.887,1,1,1,...,1,1,0,0,0
Armenia,2000,1.000,1,1,1,...,1,1,1,1,1
Armenia,2005,0.997,1,1,1,...,1,1,1,1,1
Armenia,2010,0.998,1,1,1,...,1,1,1,1,1
Armenia,2015,0.999,1,1,1,...,1,1,1,1,1
Azerbaijan,2000,0.989,1,1,1,...,1,1,1,1,1
Azerbaijan,2006,0.980,1,1,1,...,1,1,1,1,1
Bangladesh,1993,0.621,1,1,1,...,0,0,0,0,0
Bangladesh,1996,0.689,1,1,1,...,0,0,0,0,0
Bangladesh,1999,0.787,1,1,1,...,0,0,0,0,0
Bangladesh,2000,0.728,1,1,1,...,0,0,0,0,0
Bangladesh,2004,0.870,1,1,1,...,0,0,0,0,0
Bangladesh,2005,0.824,1,1,1,...,1,0,0,0,0
Bangladesh,2006,0.901,1,1,1,...,1,0,0,0,0
Bangladesh,2007,0.912,1,1,1,...,1,0,0,0,0
Bangladesh,2011,0.939,1,1,1,...,1,1,0,0,0
Bangladesh,2012,0.949,1,1,1,...,1,1,1,0,0
Bangladesh,2014,0.962,1,1,1,...,1,1,1,0,0
Belarus,2005,0.998,1,1,1,...,1,1,1,1,1
Belize,2011,0.983,1,1,1,...,1,1,1,1,1
Belize,2015,0.990,1,1,1,...,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,2001,0.971,1,1,1,...,1,1,1,1,0
Vietnam,2002,0.970,1,1,1,...,1,1,1,1,0
Vietnam,2002,0.971,1,1,1,...,1,1,1,1,0
Vietnam,2004,0.973,1,1,1,...,1,1,1,1,1
Vietnam,2006,0.970,1,1,1,...,1,1,1,0,0
Vietnam,2006,0.974,1,1,1,...,1,1,1,1,1
Vietnam,2008,0.985,1,1,1,...,1,1,1,1,1
Vietnam,2010,0.977,1,1,1,...,1,1,1,1,1
Vietnam,2010,0.981,1,1,1,...,1,1,1,1,1
Vietnam,2013,0.975,1,1,1,...,1,1,1,1,1
West Bank and Gaza,2009,0.990,1,1,1,...,1,1,1,1,1
West Bank and Gaza,2010,0.993,1,1,1,...,1,1,1,1,1
West Bank and Gaza,2014,0.994,1,1,1,...,1,1,1,1,1
Yemen,2006,0.682,1,1,1,...,0,0,0,0,0
"Yemen, Rep.",2005,0.571,1,1,1,...,0,0,0,0,0
Zambia,1992,0.889,1,1,1,...,1,1,1,0,0
Zambia,1996,0.903,1,1,1,...,1,1,1,0,0
Zambia,1998,0.902,1,1,1,...,1,1,1,0,0
Zambia,1999,0.881,1,1,1,...,1,1,1,0,0
Zambia,2001,0.902,1,1,1,...,1,1,1,0,0
Zambia,2002,0.902,1,1,1,...,1,1,1,0,0
Zambia,2007,0.953,1,1,1,...,1,1,1,0,0
Zambia,2013,0.973,1,1,1,...,1,1,1,1,0
Zimbabwe,1994,0.979,1,1,1,...,1,1,1,1,1
Zimbabwe,1999,0.978,1,1,1,...,1,1,1,1,1
Zimbabwe,2005,0.992,1,1,1,...,1,1,1,1,1
Zimbabwe,2009,0.995,1,1,1,...,1,1,1,1,1
Zimbabwe,2010,0.988,1,1,1,...,1,1,1,1,1
Zimbabwe,2014,0.997,1,1,1,...,1,1,1,1,1
Zimbabwe,2015,0.995,1,1,1,...,1,1,1,1,1

In [183]:
print(data1)

                country  year  aFemale_1  aFemale_2  aFemale_3  ...  \
0           Afghanistan  2007      0.337          0          0  ...
1           Afghanistan  2010      0.369          0          0  ...
2           Afghanistan  2015      0.513          1          0  ...
3               Albania  2000      0.998          1          1  ...
4               Albania  2002      0.984          1          1  ...
5               Albania  2005      0.996          1          1  ...
6                Angola  1999      0.845          1          1  ...
7                Angola  2001      0.725          1          1  ...
8                Angola  2008      0.853          1          1  ...
9                Angola  2015      0.887          1          1  ...
10              Armenia  2000      1.000          1          1  ...
11              Armenia  2005      0.997          1          1  ...
12              Armenia  2010      0.998          1          1  ...
13              Armenia  2015      0.999          1          1  ...
14           Azerbaijan  2000      0.989          1          1  ...
15           Azerbaijan  2006      0.980          1          1  ...
16           Bangladesh  1993      0.621          1          1  ...
17           Bangladesh  1996      0.689          1          1  ...
18           Bangladesh  1999      0.787          1          1  ...
19           Bangladesh  2000      0.728          1          1  ...
20           Bangladesh  2004      0.870          1          1  ...
21           Bangladesh  2005      0.824          1          1  ...
22           Bangladesh  2006      0.901          1          1  ...
23           Bangladesh  2007      0.912          1          1  ...
24           Bangladesh  2011      0.939          1          1  ...
25           Bangladesh  2012      0.949          1          1  ...
26           Bangladesh  2014      0.962          1          1  ...
27              Belarus  2005      0.998          1          1  ...
28               Belize  2011      0.983          1          1  ...
29               Belize  2015      0.990          1          1  ...
..                  ...   ...        ...        ...        ...  ...
538             Vietnam  2001      0.971          1          1  ...
539             Vietnam  2002      0.970          1          1  ...
540             Vietnam  2002      0.971          1          1  ...
541             Vietnam  2004      0.973          1          1  ...
542             Vietnam  2006      0.970          1          1  ...
543             Vietnam  2006      0.974          1          1  ...
544             Vietnam  2008      0.985          1          1  ...
545             Vietnam  2010      0.977          1          1  ...
546             Vietnam  2010      0.981          1          1  ...
547             Vietnam  2013      0.975          1          1  ...
548  West Bank and Gaza  2009      0.990          1          1  ...
549  West Bank and Gaza  2010      0.993          1          1  ...
550  West Bank and Gaza  2014      0.994          1          1  ...
551               Yemen  2006      0.682          1          1  ...
552         Yemen, Rep.  2005      0.571          1          1  ...
553              Zambia  1992      0.889          1          1  ...
554              Zambia  1996      0.903          1          1  ...
555              Zambia  1998      0.902          1          1  ...
556              Zambia  1999      0.881          1          1  ...
557              Zambia  2001      0.902          1          1  ...
558              Zambia  2002      0.902          1          1  ...
559              Zambia  2007      0.953          1          1  ...
560              Zambia  2013      0.973          1          1  ...
561            Zimbabwe  1994      0.979          1          1  ...
562            Zimbabwe  1999      0.978          1          1  ...
563            Zimbabwe  2005      0.992          1          1  ...
564            Zimbabwe  2009      0.995          1          1  ...
565            Zimbabwe  2010      0.988          1          1  ...
566            Zimbabwe  2014      0.997          1          1  ...
567            Zimbabwe  2015      0.995          1          1  ...

     a2Female_5  a2Female_6  a2Female_7  a2Female_8  a2Female_9
0             0           0           0           0           0
1             0           0           0           0           0
2             0           0           0           0           0
3             1           1           1           1           1
4             1           1           1           1           0
5             1           1           1           1           0
6             0           0           0           0           0
7             0           0           0           0           0
8             0           0           0           0           0
9             1           1           0           0           0
10            1           1           1           1           1
11            1           1           1           1           1
12            1           1           1           1           1
13            1           1           1           1           1
14            1           1           1           1           1
15            1           1           1           1           1
16            0           0           0           0           0
17            0           0           0           0           0
18            0           0           0           0           0
19            0           0           0           0           0
20            0           0           0           0           0
21            1           0           0           0           0
22            1           0           0           0           0
23            1           0           0           0           0
24            1           1           0           0           0
25            1           1           1           0           0
26            1           1           1           0           0
27            1           1           1           1           1
28            1           1           1           1           1
29            1           1           1           1           1
..          ...         ...         ...         ...         ...
538           1           1           1           1           0
539           1           1           1           1           0
540           1           1           1           1           0
541           1           1           1           1           1
542           1           1           1           0           0
543           1           1           1           1           1
544           1           1           1           1           1
545           1           1           1           1           1
546           1           1           1           1           1
547           1           1           1           1           1
548           1           1           1           1           1
549           1           1           1           1           1
550           1           1           1           1           1
551           0           0           0           0           0
552           0           0           0           0           0
553           1           1           1           0           0
554           1           1           1           0           0
555           1           1           1           0           0
556           1           1           1           0           0
557           1           1           1           0           0
558           1           1           1           0           0
559           1           1           1           0           0
560           1           1           1           1           0
561           1           1           1           1           1
562           1           1           1           1           1
563           1           1           1           1           1
564           1           1           1           1           1
565           1           1           1           1           1
566           1           1           1           1           1
567           1           1           1           1           1

[562 rows x 20 columns]